@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
*
{
    font-family:'Nanum Gothic';
}
body
{
    background-color: #D7CBBD !important;
}
h1
{
    font-weight: 700 !important;
    font-size: 250% !important;
}
h4
{
    font-weight: 500 !important;
    font-size: 120% !important;
}
#navbar_custom
{
    background-color:#8B0029;
    color:white;
    border-radius:0px;
    border-width:0px;
}
#navbar_logo
{
    color:white;
    font-style:bold;
}
#home_introduce_jumbotron
{
    border-radius:30px;
    color:#000000;
}
#line_1
{
    margin-left:0%;
    margin-right:0%;
    border-color:#8B0029;
    border-width:3px;
    border-radius:100px;
}
#button_download_aos
{
    background-color:#8B0029;
    border-width:0px;
    border-radius:7px;
}
#button_download_ios
{
    background-color:#8B0029;
    border-width:0px;
    border-radius:7px;
}
#button_instagram
{
    background-color:#8B0029;
    border-width:0px;
    border-radius:7px;
}
